@font-face {
  font-family: "source-serif";
  src: url("fonts/SourceSerif4Variable-Roman.otf.woff2");
  font-weight: 200 900;
  font-opsz: 8 60;
  font-style: normal;
}

@font-face {
  font-family: "source-serif";
  src: url("fonts/SourceSerif4Variable-Italic.otf.woff2");
  font-weight: 200 900;
  font-opsz: 8 60;
  font-style: italic;
}

@font-face {
  font-family: "source-code";
  src: url("fonts/SourceCodeVF-Upright.otf.woff2");
  font-weight: 200 900;
  font-opsz: 8 60;
  font-style: normal;
}

@font-face {
  font-family: "source-code";
  src: url("fonts/SourceCodeVF-Italic.otf.woff2");
  font-weight: 200 900;
  font-opsz: 8 60;
  font-style: italic;
}

html { font-size: 12px; }

body {
  font-family: source-serif;
  font-variant-numeric: oldstyle-nums;
}

h1 { margin-top: 3.2rem; }

h4.author, h4.date { margin: 1.1rem auto; }

p, .sidenote, .marginnote { line-height: 1.5; }

code {
  font-family: source-code;
  font-size: 1.3rem;
  line-height: 1.5;
}

pre code { font-size: 1.3rem; }

h1 code, h2 code, h3 code { font-size: 1.3rem; }

.marginnote code, .sidenote code { font-size: 1.3rem; }

a { font-family: source-code; }
